<div fxLayout="row" *ngIf="enProceso">
  <mat-progress-bar mode="query" color="accent" fxFlex></mat-progress-bar>
  <br />
</div>

<div class="alerta alerta-warning animated fadeInDown" *ngIf="cantidadRegistros == 0 && !enProceso">
  Sin registros para mostrar
</div>

<div class="example-table-container" *ngIf="cantidadRegistros > 0">

  <mat-table class="simple-list contenedor" [dataSource]="dataSource" fxFlex>

    <!-- Weight Column -->
    <ng-container matColumnDef="fePrestamoHistorial">
      <mat-header-cell *matHeaderCellDef> Fecha de registro </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fePrestamoHistorial | date: 'dd/MM/yyyy HH:mm'}} </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="descripcionHistorial">
      <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.descripcionHistorial}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="montoSubtotalOperado">
      <mat-header-cell *matHeaderCellDef> Monto origen S/.</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.montoSubtotalOperado | number:'1.2-2'}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="montoOperar">
      <mat-header-cell *matHeaderCellDef> Monto a restar S/. </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.montoOperar | number:'1.2-2'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="flagOperador">
      <mat-header-cell *matHeaderCellDef> Tipo operador </mat-header-cell>
      <mat-cell *matCellDef="let element">

        {{(element.flagOperador === '0') ? 'Restado' : 'Sumado' }}

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">

      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index;">
        <div fxFlex align="end">

          <!--  <button (click)="modificarPrestamo(row, i)" *ngIf="!esFormularioSoloLectura" mat-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Más opciones">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="consultarPrestamo(row, i)">
              <mat-icon fontSet="material-icons-outlined">visibility</mat-icon>
              <span>Consultar detalle</span>
            </button>
            <button mat-menu-item (click)="eliminarPrestamo(row, i)" *ngIf="!esFormularioSoloLectura">
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu> -->
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>

<!-- PAGINACION -->
<div fxLayoutAlign="end">
  <mat-paginator class="mat-paginator" *ngIf="paginador" [length]="paginador.totalElements" [pageSize]="paginador.size"
    [pageIndex]="paginador.page" [pageSizeOptions]="paginador.pageSizeOptions" (page)="paginar($event)">
  </mat-paginator>
</div>
